.Rproj.user
.Rhistory
.RData
.Ruserdata
# Ignore the data base files as these are large files.
/data_for_analysis
notes.docx
bats_pioneer.Rproj
Project_notes.nb.html
figures
images
models
profile.out
speciescounts.tiff
suncal_issues.RData
working_env
kpro_matbuild.RData
Project_notes.docx
Project_notes.Rmd
